<nav class="navbar navbar-expand-lg bg-info-subtle "  class="navbar bg-info" data-bs-theme="dark">
    
    <div class="container-fluid " >
      <a class="navbar-brand " href="{{url_for('home')}}">Blog Lite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('feed')}}">FEED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('browse')}}">BROWSE</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('post')}}">SHARE A POST</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('profile')}}">My Profile</a>
          </li>

          <!-- <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle "  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              {{user.username}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('profile')}}">My Profile</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              
            </ul>
          </li> -->

        </ul>

        <form class="d-flex" role="search" action="{{ url_for('search') }}" method="get">
          <input class="form-control me-2" type="search" name="q" placeholder="Search Users" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
          

      </div>
    </div>
  </nav>